profiles {

    standard {
        process.executor = 'local'
    }

    cluster{
        process.executor='lsf'
        process.queue='production-rh74'
        process.clusterOptions = '-R \"select[hname!=\'hx-noah-05-02\']\"'

        executor.queueSize=1000
        executor.perJobMemLimit=false
        executor.exitReadTimeout='100000 sec'
        executor.pollInterval = '5sec'

        conda.cacheDir = "/nfs/production3/ma/home/rchazarra/CellAssign/cellassign-workflow/conda_envs_cache/"
        conda.createTimeout = "30 min"
    } 
}

//process{
//	errorStrategy { task.attempt < 5  ? 'retry' : 'finish' }
//        maxRetries 5
//        memory { 8.GB * task.attempt }
//}

// specify workflow parameters here
params{
	input_data = "$baseDir/test_data"
	col_names = "TRUE"
}
